@model SabidoMagroAcademia.Application.DTOs.PlanDTO

<h3>Editar plano</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">
                    <span class="fas fa-trash-alt"></span> Cancelar
                </a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
