@model SabidoMagroAcademia.Application.DTOs.ActivityDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" title="Edit" class="btn btn-warning">
        <span class="fas fa-edit"></span> Editar
    </a>
    <a asp-action="Index" class="btn btn-primary">
        <span class="fas fa-backspace"></span> Voltar
    </a>

</div>
