@model IEnumerable<SabidoMagroAcademia.Application.DTOs.ActivityDTO>

@{
    ViewData["Title"] = "Atividades";
}
<h1>Exercícios</h1>

<a asp-action="Create" class="btn btn-primary">
    <span title="Registrar novo plano" class="fas fa-plus"></span> Novo exercício
</a>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                        <span class="fas fa-edit"></span>Editar
                    </a>

                    <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-primary">
                        <span class="fas fa-search"></span>Detalhes
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete" class="btn btn-danger">
                        <span class="fas fa-trash-alt"></span>Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
